#SearchContentTree {
    font-size: 16px;
    padding: 4px;
    vertical-align: bottom;
    margin-left: 20px;
}

.jstree-default .jstree-search {
    color: #000000;
}

#ContentTree {
    overflow: auto;
}

#ContentTreeSidePanel dt {
    width: 80px;
}

#ContentTreeSidePanel dd {
    margin-left: 100px;
    word-break: break-all;
}